<?xml version="1.0"?>
<!--
The complete koala library of xacros for easy reference
-->
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Bases -->
  <xacro:include filename="$(find koala_description)/urdf/koala2_silver.urdf.xacro"/>

  <!-- Stacks -->
  <xacro:include filename="$(find koala_description)/urdf/stacks/picoitx.urdf.xacro"/>

  <!-- Sensors -->
  <xacro:include filename="$(find koala_description)/urdf/sensors/camera.urdf.xacro"/>

</robot>
